<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- 使用相對路徑來指定日誌文件的位置
		${basedir}: 代表應用程式的基目錄，通常是應用程式運行時所在的目錄。
		Logs: 代表一個名為 Logs 的子目錄(資料夾)。
		${shortdate}: 代表當前日期，格式為 yyyy-MM-dd（例如：2024-07-08）。
		${date:format=yyyyMMdd}，為20240708
		-->
		<target xsi:type="File" name="logfile"
		fileName="${basedir}/Logs/${date:format=yyyyMMdd}/${shortdate}.log"
		layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}"
		createDirs="true"/>
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
